---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Contact from "@components/Contact.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Socials from "@components/Socials.astro";
import { SOCIALS } from "@config";
import { getCollection } from "astro:content";
import Year from "@components/Year.astro";
import FromYearToYear from "@components/FromYearToYear.astro";

const careerCollection = await getCollection("career");

const career = careerCollection.flatMap(c => c.data);
console.log(career);
---

<Layout>
  <Header />
  <main id="main-content">
    <section>
      <ul>
        {
          career.map(c => (
            <li class="flex gap-4">
              <FromYearToYear dateTimeFrom={c.from} dateTimeTo={c.to} />
              <div class="flex flex-wrap">
                <span>{c.role}</span>
                <span> @ </span>
                <span>
                  <a href={c.link}>{c.company}</a>
                </span>
                <div>{c.description}</div>
              </div>
            </li>
          ))
        }
      </ul>
    </section>

    <Footer />
  </main>

  <style></style>
</Layout>
